          
     body {
         font-family: Arial, sans-serif;
         background-color: rgb(244,244,249);
         color: rgb(51,51,51);
         line-height: 2;
         padding: 20px;
     }
     
     
     header {
         text-align: center;
         margin-bottom: 40px;
     }
     
     h1 {
         font-size: 36px;
         color: rgb(45,22,68);
     }
     
     
     .box {
         background-color: white;
         border: 1px solid rgb(221,221,221)
         border-radius: 5px;
         padding: 20px;
         margin-top: 10px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     }
     
     
     .box p {
         font-size: 16px;
         color:rgb(54, 53, 53);
     }
     
     .box ul {
         padding-left: 20px;
         display: inline;
     }
     
     .box ul li {
         font-size: 16px;
         display: inline;
         
     }
     
     
     h2 {
         font-size: 28px;
         margin-bottom: 10px;
         color: rgb(41,128,185);
     }
     
     h3 {
         font-size: 20px;
         color: black;
         margin-bottom: 10px;
     }

     #contributors {
         text-align: center;
         padding: 20px;
     }
     
     
     #contributors ul {
         list-style-type: none;
         padding: 0;
         display: flex;
         justify-content: center;
         gap: 20px; 
         flex-wrap: wrap; 
     }
     
     
     #contributors li {
         text-align: center;
         font-size: 1.1em;
     }
     
    
     #contributors img {
         width: 150px; 
         height: 150px; 
         border-radius: 50%; 
         object-fit: cover;
         margin-top: 10px; 
     }
     
    

     .screenshots{
         background-color: white;
         border: 1px solid rgb(221,221,221);
         border-radius: 5px;
         padding: 20px;
         margin-top: 10px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     }
     